<!DOCTYPE html>
<html>
<head>
  <title>Rails Pizza Client</title>
  <%= stylesheet_link_tag    'application', media: 'screen', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<%= render "nav" %>
<div class="container">
  <%= yield %>
<%= render "footer" %>
</div>
</body>
</html>
